@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.inner_div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header{
  text-align: center;
}

.text-field{
  max-width: 500px;
  width: 90vw;
}

.div .form .btn_submit{
  display: none;
}

.todo_data{
  max-width: 500px;
  width: 90vw;
  display: flex;
  margin-top: 24px;
  font-weight: bold;
}

.list_data{
  font-weight: bold;
}